<div class="container-fluid">
    <div class="form-group row pt-3">      
      <div class="col-12 col-sm-1 text-center">
        Gestion des scores du Papayoo
      </div>
      <div class="col-12 col-sm-1 text-center">
        <img src="../assets/papayoo.jpg" class="img-fluid" alt="papayoo-box">
      </div>

      <div class="col-12 col-sm-11" *ngIf="step === 0">
        <div class="form-group row">
          <label for="nbPlayers" class="col-12 col-sm-4 col-form-label">Combien de joueur ?</label>
          <div class="col-12 col-sm-2">
            <input type="number" min="3" max="8" [(ngModel)]="nbPlayers" class="form-control" id="nbPlayers"
                   name="nbPlayers">
          </div>
        </div>

        <button type="button" class="btn btn-outline-primary" (click)="nbPlayerValidate()">Valider</button>
      </div>

      <div class="col-12 col-sm-11" *ngIf="step === 1">
        <div class="form-group row" *ngFor="let player of players; let i = index;">
          <label class="col-12 col-sm-4 col-form-label">Nom jou·eur·euse {{i+1}} :</label>
          <div class="col-12 col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="player.name">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" (click)="startParty()">Valider</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-11" *ngIf="step === 2">
        <div class="row">
          <div class="col-4">Tour {{nbRound}}</div>
        </div>
<hr>
        <div class="row">
          <div class="col-4">Nom</div>
          <div class="col-4">Manche</div>
          <div class="col-4">Total</div>
        </div>

        <div class="row mt-2" *ngFor="let player of players">
          <div class="col-4">{{player.name}}</div>
          <div class="col-4 col-sm-2">
            <input type="number" min="0" max="250" class="form-control" [(ngModel)]="player.currentScore">
          </div>
          <div class="col-2 offset-sm-2">{{player.scoreTotal}}</div>
        </div>

        <div class="row mt-2">
          <div class="col-8 col-sm-2 offset-2 offset-sm-4 text-center"
               [ngClass]="{'text-red': getTotalCurrentScores() !== 250, 'text-green': getTotalCurrentScores() === 250}">
            {{(getTotalCurrentScores() < 250 ? 'reste : ' :
            getTotalCurrentScores() === 250 ? 'nickel : ' : 'dépassement : ') + (getTotalCurrentScores() - 250)}}
            <!--{{'écart ' + (250 - getTotalCurrentScores())}}-->
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-sm-4 offset-sm-4">
            <button type="button" class="btn btn-primary"
                    [ngClass]="{'disabled': getTotalCurrentScores() !== 250}"
                    (click)="validateRound()">
              Valider manche
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-11" *ngIf="step === 3">
        <div class="row">
          <div class="col-12">
            Terminé !
          </div>
        </div>

        <div class="row pt-2" *ngFor="let player of players; let i = index;">
          <div class="col-2">
            {{i === 0 ? '1er': i+1 + 'ème'}}
          </div>

          <div class="col-4">{{player.name}}</div>

          <div class="col-4">{{player.scoreTotal}}</div>
        </div>

        <div class="row pt-2">
          <button type="button" class="btn btn-primary" (click)="restart()">
            Recommencer
          </button>
        </div>
      </div>
    </div>
</div>
